{% extends 'books/base.html' %}
{% load static %}
{% block title %}All Authors{% endblock %}


{% block content %}
<div class="container-fluid mt-3">
    <div class="row d-flex justify-content-around text-center">
        {% for author in authors %}
        <div style="width: 18rem; margin: 0.2rem;">
            <img src="{{author.image}}" style="max-height: 200px;" class="card-img-top">
            <div class="card-footer fs-6 font-weight-bold border border-bottom-2 text-center">{{author.name}}
            </div>
            <a class="btn btn-dark my-2" href="{% url 'show_author' author.id%}">Show Details</a>
        </div>
        {% empty %}
        <h1>No Data to show</h1>
        {% endfor %}
    </div>
</div>
{% endblock %}