{% extends 'books/base.html' %}
{% load static %}
{% block title %}Author{% endblock %}


{% block content %}
<div class="container-fluid mt-3">
    <div class="row d-flex justify-content-around text-center">
        <div style="width: 50rem; margin: 0.2rem;">
            <img src="{{author.image}}" style="max-height: 350px;" class="card-img-top">
            <div class="card-footer fs-6 font-weight-bold border border-bottom-2 text-center">{{author.name}}
            </div>
            <div class="col-12 my-2">
                {{author.details}}

            </div>
        </div>
        <div class="card-footer my-5">
            {% for book in books %}
            <a class="btn btn-dark" href="{% url 'show_book' book.id%}">{{book.name}}</a>
            {% empty %}
            <h1>No Data to show</h1>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}